<div class="row footer">
     <div class="col-4"> 
       <h2>contact us</h2>
       <p >it was an amazing course which help me to 
        understand the dairy productio</p>
<p>Email:ballarjunpspl88@gmail.com</p>
    </div>
<div class="col-4">
    <h2>about us</h2>
    <p> <i class="fa fa-map-maker" >mahabubnager, telangana</i></p>
    <p> <i class="fa fa-phone"   >912346789</i></p>
</div>
<div class="col-4">
    <h2>social media</h2>
    <p > <i class="fa fa-facebook" style="font-size: 40px; color: cornflowerblue;"></i>
    <i class="fa fa-instagram" style="font-size: 50px; text-align: justify; color: darkmagenta;text-shadow: 2px 2px 4px;"></i>
    
</p>
</div>
</div>
