<body>

  <div class="about-section">
    <h1 style="color: #e21db1c4; border: seagreen; background-color:#8cf127;">About Us Page</h1>
    <p style="color:rgb(24, 187, 24); border: darkred;">We Are Running Daira Farm Since One Year</p>
    <p style="color:rgb(216, 230, 22) ; background-color:brown;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem 
      culpa accusantium aperiam omnis doloremque, similique quia explicabo doloribus, et, veritatis odit ab ipsam suscipit vero fugit evenie</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./assets/imga.jpg" alt="Jane" style="width:40%">
        <div class="container">
          <h2 style="color:maroon ;">Ganesh Jaklet</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./assets/imgd.jpg" alt="Mike" style="width:25%">
        <div class="container">
          <h2 style="color: maroon;">Balraj Jaklet</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="./assets/imgc.jpg" alt="John" style="width:28%">
        <div class="container">
          <h2 style="color: maroon;">Chandra Shekar Jaklet</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p style="color: purple;"><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  
  </body>