<p style="background-color: rgb(103, 205, 90); border-style:hidden rgb(98, 15, 136)">WELCOME TO OUR TEAM</p>
<h1 style="color:red; border: seagreen;">PRICING LIST</h1>

<img src="./assets/pic6.jpg" alt="Trulli">

<img src="./assets/pic7.jpg" alt="Trulli">

<img src="./assets/pic8.jpg" alt="Trulli">

<img src="./assets/pic9.jpg" alt="Trulli">

<img src="./assets/pic10.jpg" alt="Trulli">

<img src="./assets/pic11.jpg" alt="Trulli">

<img src="./assets/pic14.jpg" alt="Trulli">

<img src="./assets/pic13.jpg" alt="Trulli">

<img src="./assets/pic15.jpg" alt="Trulli">

<img src="./assets/pic18.jpg" alt="Trulli">

<img src="./assets/pic17.jpg" alt="Trulli">

<img src="./assets/pic19.jpg" alt="Trulli">

<img src="./assets/imgmilk.jpg" alt="Trulli">

<img src="./assets/pic25.jpg" alt="Trulli">

<img src="./assets/pic27.jpg" alt="Trulli">

<img src="./assets/pic25.jpg" alt="Trulli">