<h1 style="color: rgb(72, 255, 0);"> OUR FARM </h1>

<p style="font-size: 25px; color: darkred;">QUALTY TESTED BY TIME </p>
<p style="color: rgb(77, 50, 83); font-size: 20px;">Dairy farming Information and in-depth knowledge about dairy farming is vital 
    for a profitable dairy farming business. Dairy farming provides an excellent 
    opportunity for self-employment of unemployed youth. It is also an important 
    source of income generation to small/marginal farmers and agricultural labourers. 
    India is one of the largest milk producers of the world. The demand of milk & milk 
    product is increasing rapidly. There is immense scope of dairy farming in our country. 
    The increasing cost of feed ingredients and its seasonal variability can be reduced by 
    undertaking fodder cultivation.</p>

<q style="color:rgba(12, 12, 146, 0.849); font-size: 20px;">We are the leading producer and processor of store-brand organic 
dairy products for INDIA retailers. Based in Vizag, we deliver high-quality dairy products that are nationally recognized.
</q>

<p style="color:rgb(124, 17, 124); font-size: 20px;">Selecting the Animal for Dairy Farming in India – Cows v/s. Buffaloes:</p>
<h1 style="color: maroon;">COWS</h1>
<p style="color: rgb(92, 21, 71); font-size: 20px;">Good quality cows are available in the market and it cost around Rs.1500 to 
   Rs.2000 per liter of milk production per day. (e.g. Cost of a cow producing 
   10 liter of Milk per day will be between Rs.15,000 to Rs.20,000).</p>
   <q style="color: rgb(131, 14, 185); font-size: 20px;">If proper care is given, cows breed regularly giving one calf every 13-14 
      month interval.</q>

      <h2 style="color: maroon; font-size: 20px;">BUFFALO</h2>
<p  style="color: rgb(21, 39, 100); font-size: 20px;">In India, we have good buffalo breeds like Murrah and Mehsana, which are suitable 
   for commercial dairy farm.Buffalo milk has more demand for making butter and butter 
   oil (Ghee), as fat percentage in milk is higher then cow. Buffalo milk is also preferred
   for making tea, a welcoming drink in common Indian household.</p>
<p style="color: rgb(33, 8, 49);">Buffaloes largely mature late and give birth to calves at 16 to 18 months interval. Male 
   calves fetch little value.</p>
   <h3 style="color: maroon; font-size: 25px;"> Dairy Farming in India</h3>
   <h4 style="color: firebrick;">Importance of dairy farming  </h4>
   <p style="color: rgb(82, 29, 73); font-size: 20px;">In India, milk is produced by a vast number
      of small, medium and large-sized farms. There
      is exponential growth in the number of the
      commercial dairy farms in the urban and
      semi-urban areas of the metros and big cities. In India, raw milk is perceived to be fresh by most
      consumers and has a large market. Conventional
      dietary habits in India account for about 60 per cent of
      milk consumption in liquid form, and the remaining in
      the form of ghee, cheese, curd, paneer, ice cream, dairy
      whiteners and traditional sweets.</p>
