<h1 style="color:green; background-color:lawngreen ;">ORGANIC DAIRY FARM</h1>
<img src="./assets/imgnwxyz.jpg" alt="" width=100%; height="65%">


<h1 style="color: rgb(72, 255, 0);"> OUR FARM </h1>

<p style="font-size: 25px; color: darkred;">QUALTY TESTED BY TIME </p>
<p style="color: rgb(77, 50, 83); font-size: 20px;">Dairy farming Information and in-depth knowledge about dairy farming is vital 
    for a profitable dairy farming business. Dairy farming provides an excellent 
    opportunity for self-employment of unemployed youth. It is also an important 
    source of income generation to small/marginal farmers and agricultural labourers. 
    India is one of the largest milk producers of the world. The demand of milk & milk 
    product is increasing rapidly. There is immense scope of dairy farming in our country. 
    The increasing cost of feed ingredients and its seasonal variability can be reduced by 
    undertaking fodder cultivation.</p>


